<div class="home-page">
    <h1>Welcome to Flopbuster</h1>
    <div class="game">
        <h2>Select the Movie with a lower Rating!</h2>
        <div class="play-again" *ngIf="chosen">
            <button>Play Again</button>
            <p *ngIf="correct">Correct</p>
            <p *ngIf="incorrect">Incorrect</p>
        </div>
        <div class="pics">
            <div class="movie">
                <img (click)="checkAnswer('one')" value="one" [src]="imageOne" [alt]="imageOneName">
                <h4>{{imageOneName}}</h4>
            </div>
            <div class="movie">
                <img (click)="checkAnswer('two')" value="two" [src]="imageTwo" [alt]="imageTwoName">
                <h4>{{imageTwoName}}</h4>
            </div>
        </div>
    </div>
</div>