<div class="home-page">
    <h1>Welcome to Flobuster</h1>
    <div class="game">
        <h2>Select the Movie with a lower Rating!</h2>
        <div class="play-again">
            <button>Play Again</button>
            <p>Corrrct</p>
            <p>Incorrect</p>
        </div>
        <div class="pics">
            <div>
                <img [src]="imageOne" alt="">
            </div>
            <div>
                <img [src]="imageTwo" alt="">
            </div>
        </div>
    </div>
</div>